$theme: (#4786ea); // 主题色 按数组序号配置

$font1: #333333; // 主要文字
$font2: #666666; // 常规文字
$font3: #999999; // 次要文字
$font4: #c0c4cc; // 占位文字
$border: #e9e9e9; // 一级边框
$white: white; // 基础白色

$transparent: Transparent; // 透明

$fontSize1: 14px;
$fontSize2: 16px;
$fontSize3: 18px;
$fontSize4: 20px;
$fontSize5: 22px;
$fontSize6: 24px;
$fontSize7: 27px;

$black: #365881;
$red: #f1694e;
$grey: #9cb5d3;
$gray: #6982b4;
$blue: #4786ea;
$blue1: #27b1e3;
$orange: #ffa900;
$green: #4dc279;
